.color-palette {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.box {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;

}

.eraser {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 0, 0);
}

.eraser:after {
    content: "\274c"; 
    font-size: 15px; 
    color: #FFF;

}