
.game-history-entry {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px rgba(231, 3, 247, 0.5);
    text-transform: uppercase;
}

.game-history-title {
    font-size: 2.5rem;
    font-family: 'VT323', monospace;
}

.game-history-line {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}


.game-history-header {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    margin-bottom: 16px;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px rgba(231, 3, 247, 0.5);
    text-transform: uppercase;
}

.game-history-container {
    margin-bottom: 100px;
}


.clickable {
    cursor: pointer;
}