.game-solution-header {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    margin-bottom: 16px;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px rgba(231, 3, 247, 0.5);
    text-transform: uppercase;
}