@import url(https://fonts.googleapis.com/css?family=VT323);


.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.toolbar button {
    background: #7C7C7C;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    transition: background 0.3s ease;
}


.toolbar-large button {
    font-size: 2.2rem;
    min-width: 200px;
    padding: 0.5rem;
    margin: 1rem;
}

.toolbar-medium button {
    font-size: 1.6rem;
    min-width: 120px;
    padding: 0.3rem;
    margin: 0.5rem;
}

.toolbar-small button {
    font-size: 1.3rem;
    min-width: 100px;
    padding: 0.3rem;
    margin: 0.2rem;
}

.toolbar button:focus,
.toolbar button:hover {
    background: #BCBCBC;
}

.toolbar button.red {
    background: #881400;
}

.toolbar button.red:focus,
.toolbar button.red:hover {
    background: #A81000;
}

.toolbar button.green {
    background: #005800;
}

.toolbar button.green:focus,
.toolbar button.green:hover {
    background: #006800;
}

.toolbar button.blue {
    background: #0000BC;
}

.toolbar button.blue:focus,
.toolbar button.blue:hover {
    background: #0000FC;
}

.toolbar button:disabled {
    background: #7C7C7C;
    cursor: not-allowed;
}

.toolbar button:disabled:hover {
    background: #7C7C7C;
}

