#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.bottles-container {
  display: flex;
  flex-direction: column;
  gap: 3rem; 
  align-items: center; 
  width: 100%; 
  padding: 4rem 0; 
}

.bottle-row {
  display: flex;
  justify-content: center;

}

.bottle-row:last-child {
  margin-bottom: 0;
}

.bottle {
  width: 100px; 
  height: 250px; 
  transition: transform 0.3s;
  cursor: pointer;
  z-index: 1;
}

.moving {
  z-index: 10; /* Higher z-index for the moving bottle */
}


.settings-logo {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute; 
  top: 25px; 
  left: 25px; 
  transition: transform 0.3s;
}

.settings-logo:hover {
  transform: rotate(90deg);
}

.restart-logo {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute; 
  top: 25px; 
  right: 25px; 
  transition: transform 0.3s;
}

.restart-logo:active {
  transform: rotate(-90deg);
}