#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}



.bottles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.settings-logo {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute; /* Allows you to position it relative to the nearest positioned ancestor */
  top: 20px; /* Distance from the top of the container */
  left: 20px; /* Distance from the left of the container */
  transition: transform 0.3s;
}

.settings-logo:hover {
  transform: rotate(90deg);
}
